.idea

ApiGateway/bin
ApiGateway/obj

NotificationService/bin
NotificationService/obj

OrderService/bin
OrderService/obj

PaymentService/bin
PaymentService/obj

ProductCatalog/bin
ProductCatalog/obj

ShoppingCart/bin
ShoppingCart/obj

UserService/bin
UserService/obj